<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
			        <div class="page-header">
						<h1>Midwest Winter Guestbook</h1>
					</div>
			        <div class="row">
				        <div class="span9">
				        	<div class="well well-large" id="content">
								<%= yield %>
							</div>
						</div>
						<div class="span3">
		            		<div class="well well-small" id="sidebar">
		            			<center>
			            			<%= image_tag "winter1.jpg" %>
									<%= image_tag "winter3.jpg" %>
									<%= image_tag "winter2.jpg" %>
								</center>
		            		</div>
		          		</div>
		      		</div>
		    	</div>
			</div>
		</div>
	</body>
</html>